body,header,button{
font-family: 'Open Sans', sans-serif;
font-family: 'Catamaran', sans-serif;
}
body {
  background:#FCF5EB;
  background-color: rgba(252, 245, 235, 0.9);
  background-size: 550px 500px;
}

.main {
  max-width: 900px;
  margin: 0 auto;
}

.header {
  border-style: none;
  border-color: #DBB1BC;
  border-radius: 10px ;
  padding:0 20px 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}

@media (min-width: 750px) {
  .header {
    flex-direction: row;
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media (min-width: 750px) {
  .navigation {
    justify-content: flex-end;
  }
}

.navigation li {
  display: inline-block;
}

ul {
  margin: 0;
  padding: 0;
}
nav {
  height:115px;

}


li a #about {
  list-style:none;

  }

li a #projects {
  list-style:none;

}

li a #gis {
  list-style:none;
}


.logo {
  padding:0 0 20px 0;
  text-decoration:  none;
  min-height: 20px;
}

.logo span {
  display: inline-block;;
  min-width: 140px;
}

img {
  height: auto;
  max-width: 100%;
}

p {
  margin: 10px 0;
}

h1{
  color:#8F95D3;
  margin:0;
  font-size:50px;
  font-family: 'Droid Serif', serif;
}


li {
   text-align: center;
   list-style-type: none;
}

a {
  display: inline-block;
  padding: 10px 0 10px 10px;
  color:#8F95D3;
  text-decoration: none;

}

.wrapper {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 2fr 2fr 1fr;

}

.content {
  background: #CEC2FF;
  border-color: #8F95D3;
  border-radius: none;
  border-left-width: 2px;
  grid-column: 1/5;
  grid-row:1/2;
  padding: 20px;
  text-align: center;
  -webkit-box-shadow: 6px 6px 3px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 6px 6px 3px 0px rgba(0,0,0,0.2);
  box-shadow: 6px 6px 3px 0px rgba(0,0,0,0.2);
}

@media (min-width: 750px) {
  .content {
    grid-column: 1/5;
  }
}

.content h2 {
  color: #DBB1BC;
  font-family: 'Droid Serif', serif;
  text-shadow: #000 1px 1px;

}

.selfie {
  border-radius: 50%;
  margin:10px 0 10px 0;
  height: 100px;
  width: 100px;
}


.contact {
  grid-column: 1/3;
  grid-row:2/3;
  text-align:center;
  border-right-width: 2px;
}

.contact h2{
  margin-top:20px;
  writing-mode: vertical-lr;
  -webkit-writing-mode: vertical-lr;
  transform: rotate(180deg);

}
.expertise {
  grid-column: 3/5;
  grid-row:2/3;
  text-align: center;
}
.expertise h2{
  margin-top:20px;
  margin-bottom:20px;
  writing-mode: vertical-lr;
  -webkit-writing-mode: vertical-lr;
  transform: rotate(180deg);

}

#project{
  background:#CEC2FF;
  grid-column:1/5;
  grid-row:3/4;
  text-align: center;
  -webkit-box-shadow: 6px 6px 3px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 6px 6px 3px 0px rgba(0,0,0,0.2);
  box-shadow: 6px 6px 3px 0px rgba(0,0,0,0.2);
}
/*alternative codes for project titles
  .subtitle a {
    display: inline;
    height:250px;
    line-height: 1;
    margin:0;
    padding:0;
    position: relative;
    writing-mode: vertical-rl;
    -webkit-writing-mode: vertical-rl;
    transform: rotate(180deg);
  }

.subtitle a {
  color: #8F95D3;
  display: inline;
  height:250px;
  line-height: 1;
  margin:0;
  padding:0;
  position: relative;
  text-align: center;
  writing-mode: horizontal-tb;
  -webkit-writing-mode: horizontal-tb;
}*/

.project2 a {
display:inline;
text-align: center;
position:relative;


}
.project3 a {
display:inline;
text-align: center;
position:relative;

}

.projecttitle{
  font-size: 5vh;
}
.project1 p {
  text-align:center;
}

.project2 img{
text-align: center;
display:block;
margin:auto;
}
.project2 p {
  text-align:center;
  margin-bottom: 20px;
}

.project3 p {
  text-align:center;

}

.jane1 {
  left:0;
  position:relative;
  top:0;
}

.gselfpic {
  position:relative;
  height:60%;
  width:60%;
}



#gis{
  grid-column:1/5;
  grid-row:4/5;
  text-align: center;
}
.gis {
  background:none;

}
.gistitle {
  font-size: 5vh;
  text-align: center;
}

/*media query to get span and h3 to be horizonital instead of vertical*/

@media (min-width: 750px) {

  .title {
  color: #8F95D3;
  display: inline;
  height:250px;
  line-height: 1;
  left:-50px;
  margin:0;
  padding:0;
  position: relative;
  top: 8px;
  writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
  transform: rotate(180deg);

  }
  .popchange {
    top: 8px;

  }

  .infantmortality {
    top: 0;
  }

  .decadeofgreen {
    top: 54px;
    color

  }
}


.title {
color: #8F95D3;
display: inline;
height:250px;
line-height: 1;
margin:0;
padding:0;
position: relative;
text-align: center;
transform: rotate(180deg);
writing-mode: horizontal-tb;
-webkit-writing-mode: horizontal-tb;

}
.popchange {
  top: 8px;
  color:#8F95D3;

}

.infantmortality {
  top: 0;
  color:#8F95D3;

}

.decadeofgreen {
  top: 54px;
color:#8F95D3;
}
